<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Todo List</h1>
        <ul id="todo-list">
            <% todos.forEach(todo=> { %>
                <li>
                    <span>
                        <%= todo.task %>
                    </span>
                    <form action="/delete/<%= todo._id %>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <% }) %>
        </ul>
        <form action="/add" method="POST">
            <input type="text" name="task" placeholder="Add new todo" required>
            <button type="submit">Add Todo</button>
        </form>
    </div>
</body>

</html>