/* public/style.css */

/* Reset default margins and paddings */
body, h1, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f2f2f2, #d9d9d9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background: linear-gradient(135deg, #4CAF50, #45a049);
    color: white;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f9f9f9;
}

span {
    font-size: 1.2em;
    /* Slightly larger font size */
    color: #2c3e50;
    /* Darker color for better readability */
    padding: 5px 10px;
    /* Padding for spacing */
    background-color: #f0f0f0;
    /* Light background color */
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effect */
    margin-right: 10px;
    /* Space between the text and button */
}

span:hover {
    background-color: #e0e0e0;
    /* Darker background on hover */
    color: #000;
    /* Darker text color on hover */
}

form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="text"], button {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"] {
    flex: 1;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button[type="submit"] {
    background-color: #f44336;
}

button[type="submit"]:hover {
    background-color: #d32f2f;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    form {
        flex-direction: column;
    }

    input[type="text"], button {
        margin: 10px 0;
    }
}